# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# BUILD / DIST
# =========================
build/
dist/
*.egg-info/

# =========================
# VIRTUAL ENV
# =========================
env/
venv/
.venv/

# =========================
# DATA (VERY IMPORTANT)
# =========================
sr-system/data/raw/
sr-system/data/samples
sr-system/data/processed/
sr-system/data/train/
sr-system/data/val/
sr-system/data/test/

# =========================
# EXPERIMENTS
# =========================
experiments/mlruns/
wandb/
logs/

# =========================
# NOTEBOOK CHECKPOINTS
# =========================
.ipynb_checkpoints/

# =========================
# ENV FILES
# =========================
.env

# =========================
# C++ BUILD
# =========================
*.o
*.out
*.exe

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db