__pycache__/
*.pyc
.env
venv/
.venv/

storage/raw/
storage/processed/

secrets/
*.json

mlruns/
wandb/
.dvc/cache/

*.onnx
*.pt
*.pth

.pytest_cache/
.mypy_cache/
.coverage

# =========================
# C++ BUILD
# =========================
*.o
*.out
*.exe

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db