# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# BUILD / DIST
# =========================
build/
dist/
*.egg-info/

# =========================
# VIRTUAL ENV
# =========================
env/
venv/
.venv/

# =========================
# DATA (VERY IMPORTANT)
# =========================
data/raw/
data/processed/
data/train/
data/val/
data/test/

# =========================
# EXPERIMENTS
# =========================
experiments/mlruns/
wandb/
logs/

# =========================
# NOTEBOOK CHECKPOINTS
# =========================
.ipynb_checkpoints/

# =========================
# ENV FILES
# =========================
.env

# =========================
# C++ BUILD
# =========================
*.o
*.out
*.exe

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db